/* navigation cass starts here */
.navbar {
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
}
.navbar .desktop_nav ul li {
 list-style: none;
 padding: 0px 20px;
}

.navbar .mobile_nav {
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0.9;
    height: 100vh;
    width:30%;
    max-width: 260px;
    top: 0px;
    left: 0px;
    transform: translateX(-100%);
    transition: all 1s ease;
}
.navbar .mobile_nav.active {
    transform: translateX(0%);
    z-index: 999;
}
.navbar .mobile_nav.active ul {
    padding-left: 5%;
}
.navbar .mobile_nav ul li {
    list-style: none;
    padding: 6% 0%;
    font-size: 18px;
}
.mobile_toggle img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.link {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.link-light {
    color: #fff;
}
.blog-wrapper .blog-content .arrow {
    width: 18px;
    height: 18px;
}
/* FOOTER CSS STARTS HERE */
.footer {
    background-color: gray;
    color: white;
    padding: 100px 25px;
}

.footer .navlink ul li {
    list-style: none;
    font-size: 22px;
}
.footer .social_link img {
    width: 60px;
    height: 60px;
}
.blog-cards {
    display: flex;
    padding: 2% 0px;
    justify-content: space-between;
}
.blog-card-wrap {
    background-color: #f1f1f1;
}
.blog-card {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff;
    min-height: 350px;
    padding: 9px;
    width: 24%;
}
.blog-card .icons {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}
.blog-card .icons .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    background-color: white;
    transition: 0.5s ease all;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.blog-card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 129px;
    padding: 14px;
}
.blog-card .info .arrow {
    width: 15px;
    height: 15px;
}
.blog-card .info .card_detail h4 {
    font-size: 20px;
    margin: 0px;
    padding-bottom: 10px;
}
.blog-card .info .card_detail h6 {
    margin: 0px;
    font-size: 13px;
}
.blog-cards .blog-card .link {
    font-weight: 500;
}
.blog-card .icons .icon .edit, .blog-card .icons .icon .trash {
    width: 21px;
    height: 21px;
}
.updates .container .router-button img {
    width: 15px;
    height: 15px;
}
.updates .container .heading h2 {
    width: 47%;
}
.updates .container .router-button {
    align-items: center;
    display: flex;
    justify-content: end;
}
.updates {
    padding: 125px 25px;
}